<h3 class="text-xl font-bold mb-4">Dashboard</h3>

<div class="mb-6 flex gap-4">
  <%= link_to 'Today', dashboards_path(period: 'today'), class: "px-4 py-2 rounded #{'bg-indigo-600 text-white' if @period == 'today'} bg-gray-200" %>
  <%= link_to 'This Week', dashboards_path(period: 'this_week'), class: "px-4 py-2 rounded #{'bg-indigo-600 text-white' if @period == 'this_week'} bg-gray-200" %>
  <%= link_to 'This Month', dashboards_path(period: 'this_month'), class: "px-4 py-2 rounded #{'bg-indigo-600 text-white' if @period == 'this_month'} bg-gray-200" %>
</div>

<table class="min-w-full border border-black border-collapse mb-6 bg-white shadow rounded">
  <thead>
    <tr>
      <th class="px-4 py-2 border border-black">Total Income</th>
      <th class="px-4 py-2 border border-black">Total Expense</th>
      <th class="px-4 py-2 border border-black">Net Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-4 py-2 border border-black text-green-700 text-xl font-bold"><%= number_to_currency(@total_income) %></td>
      <td class="px-4 py-2 border border-black text-red-700 text-xl font-bold"><%= number_to_currency(@total_expense) %></td>
      <td class="px-4 py-2 border border-black text-blue-700 text-xl font-bold"><%= number_to_currency(@net_balance) %></td>
    </tr>
  </tbody>
</table>
