<h1 class="text-xl font-bold mb-4">Transactions</h1>
<%= link_to 'New Transaction', new_transaction_path, class: 'bg-blue-500 text-white px-4 py-2 rounded mb-4 inline-block' %>

<table class="min-w-full border mt-4">
  <thead>
    <tr>
      <th class="px-4 py-2 border">Date</th>
      <th class="px-4 py-2 border">Type</th>
      <th class="px-4 py-2 border">Amount</th>
      <th class="px-4 py-2 border">Category</th>
      <th class="px-4 py-2 border">Note</th>
      <th class="px-4 py-2 border">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions&.each do |transaction| %>
      <tr>
        <td class="px-4 py-2 border"><%= l(transaction.transacted_on, format: :short) %></td>
        <td class="px-4 py-2 border"><%= transaction.transaction_type.capitalize %></td>
        <td class="px-4 py-2 border"><%= number_to_currency(transaction.amount) %></td>
        <td class="px-4 py-2 border"><%= transaction.category.name %></td>
        <td class="px-4 py-2 border"><%= transaction.note %></td>
        <td class="px-4 py-2 border">
          <%= link_to 'Edit', edit_transaction_path(transaction), class: 'text-blue-600 mr-2' %>
          <%= link_to 'Delete', transaction_path(transaction), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-600' %>
        </td>
      </tr>
    <% end %>
    <% if @transactions.blank? %>
      <tr>
        <td colspan="6" class="px-4 py-2 border text-center text-gray-500">No transactions found.</td>
      </tr>
    <% end %>
  </tbody>
</table>
